body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: linear-gradient(120deg, #e0eafc 0%, #cfdef3 100%);
  margin: 20 20 20 20%;
  min-height: 200vh;
  align-items: center;
  justify-content: center;
}

.container {
  width: 370px;
  margin: 50px auto;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 4px 32px rgba(22, 61, 103, 0.18);
  padding: 40px 28px 32px 28px;
  text-align: center;
}

h1 {
    margin: 2.5rem;
  color: #163d67;
  font-size: 2.2em;
  margin-bottom: 28px;
}

video,
canvas {
    margin: 2.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 14px rgb(0, 0, 0);
  background: #000000;
  width: 320px;
  height: 240px;
  margin-bottom: 18px;
}

#result {
  background: #f5f8fd;
  border-radius: 8px;
  margin-top: 18px;
  padding: 10px;
  font-size: 1em;
  color: #23407a;
  min-height: 42px;
  white-space: pre-line;
}

button {
    margin: 2.5rem;
  background-color: #388fd9;
  color: #0a0909;
  border: none;
  border-radius: 8px;
  padding: 12px 38px;
  font-size: 1.08em;
  font-weight: 600;
  box-shadow: 0 2px 10px rgba(56, 143, 217, 0.11);
  cursor: pointer;
  
  margin-bottom: 12px;
}
button:hover {
  background-color: #1b6eb0;
}

@media (max-width: 480px) {
  .container {
    width: 98vw;
    min-width: 220px;
    padding: 18px 4vw 22px 4vw;
  }
  video,
  canvas {
    width: 96vw;
    max-width: 98vw;
  }
  h1 {
    font-size: 1.2em;
  }
}
